Architecture: iphoneos-arm
Author:  iFixerpro 
Depiction: https://github.com/ifixerpro/ifixerpro.github.io
Description: Adds Icon Images
Maintainer:  reponame  <reponame@example.com>
Name: icons
Package: com.ifixerpro.icons
Section: Tweaks
Version: 1.0
